/* poppins-300 - latin-ext */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: url('/fonts/poppins-v20-latin-ext-300.eot'); /* IE9 Compat Modes */
    src: url('/fonts/poppins-v20-latin-ext-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/fonts/poppins-v20-latin-ext-300.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
         url('/fonts/poppins-v20-latin-ext-300.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
         url('/fonts/poppins-v20-latin-ext-300.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
         url('/fonts/poppins-v20-latin-ext-300.svg#Poppins') format('svg'); /* Legacy iOS */
  }
  /* poppins-regular - latin-ext */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/poppins-v20-latin-ext-regular.eot'); /* IE9 Compat Modes */
    src: url('/fonts/poppins-v20-latin-ext-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/fonts/poppins-v20-latin-ext-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
         url('/fonts/poppins-v20-latin-ext-regular.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
         url('/fonts/poppins-v20-latin-ext-regular.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
         url('/fonts/poppins-v20-latin-ext-regular.svg#Poppins') format('svg'); /* Legacy iOS */
  }

html {
    width: 100%;
    max-width: 100%;
    min-height: 100%;
    position: relative;
}

body {
    margin: 0;
    background-color: #F8F8FF;
    font-size: 14px;
    font-family: 'Poppins';
    font-weight: 300;
    color: #303030;
}

a,
a:visited,
a:focus {
    text-decoration: none;
    border-bottom: 2px solid #E9B44C;
    white-space: nowrap;
    color: #303030;
}

a:hover {
    background-color: #E9B44C;
}

p {
    margin-block-start: 0;
    margin-block-end: 0;
}

.container {
    display: block;
    margin: 40px auto;
    padding-bottom: 40px;
    text-align: center;
}

main{
    padding: 0 20px;
}

.block {
    margin: 0 auto;
    background-color: #F8F8FF;
    border: 3px solid #303030;
    box-shadow: 8px 8px grey;
    width: 100%;
    max-width: 550px;
    vertical-align: top;
    text-align: left;
    overflow: hidden;
}

.single {
    max-width: 600px;
}

.line {
    height: 20px;
    width: 3px;
    padding: 0 0 10px;
    margin: 0 auto -10px;
    border-right: 3px solid #303030;
}

.sign {
    height: 40px;
    max-width: 220px;
    margin: 0 auto -20px;
    border-right: 3px solid #303030;
    border-left: 3px solid #303030;
}

.logo {
    font-size: 36px;
    line-height: 36px;
    max-width: 510px;
    padding: 20px;
    text-align: center;
}

.logo a,
.logo a:visited,
.logo a:focus {
    text-decoration: none;
    border-bottom: none;
    white-space: unset;
    color: #303030;
}

.logo a:hover {
    background: none;
}

.tagline {
    font-size: 16px;
    font-weight: 400;
}

.nav {
    overflow: hidden;
}

.nav .item {
    display: inline-block;
    padding: 0 10px;
}

.nav .line {
    height: 20px;
    padding: 90px 0 90px;
    margin: -90px auto -90px;
}

.nav .block {
    background-color: #4A5354;
    position: relative;
}

.nav .block:hover {
    background-color: #E9B44C;
}

.nav .title{
    padding: 10px;
    color: #fff;
}

.bump {
    margin-top: 20px;
}

.title,
h1,
h2 {
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    padding: 20px;
    text-align: center;
    font-family: 'Poppins';
}

h1,
h2 {
    margin: 0;
    padding: 0 0 20px;
}

h2 {
    font-size: 15px;
}

h1.main-title {
    margin: 0;
    font-size: 36px;
    font-weight: 300;
    padding: 0;
}

.text {
    padding: 0 20px 20px;
    text-align: justify;
}

ul,
ol {
    margin: 0;
    padding: 0 0 20px 15px;
}

li {
    margin: 0 0 5px;
}

.image {
    padding: 0 20px 20px;
}

img {
    max-width: 100%;
}

.col {
    display: inline-block;
    width: 250px;
    vertical-align: top;
}

.teamtitle {
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 20px;
}

.teamname {
    display: inline;
    border-bottom: 1px solid;
}

.teamfunction {
    margin-bottom: 8px;
}

.block.button {
    display: inline-block;
    padding: 20px;
    width: auto;
}

.button:hover {
    transform: translate(4px, 4px);
    box-shadow: 4px 4px black;
    background: #E9B44C;
}

input,
textarea, button {
    display: block;
    font-family: 'Poppins';
    width: 100%;
    text-align: left;
    margin-bottom: 18px;
    background: #F8F8FF;
    padding: 5px;
    box-sizing: border-box;
    border: none;
    border: 3px solid #303030;
    color: #303030;

}

button {
    display: inline-block;
    width: 100px;
    height: 37px;
    text-align: center;
    border: 3px solid #303030;
}

button:hover {
    background: #169873;
    color:#F8F8FF
}

button:active {
    border-left: 8px solid #303030;
    border-top: 6px solid #303030;
}


::placeholder {
    color: #303030;
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    color: #303030;
}

::-ms-input-placeholder {
    color: #303030;
}

.hidden {
    max-height: 0;
    transition: all 0.5s ease-out;
}

.expand {
    max-height: 1000px;
    transition: all 0.5s ease-in;
}

.footer {
    font-size: 12px;
    text-align: center;
    width: 200px;
    padding: 20px 0;
}